<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/d53d1d50-70b5-4b69-85f5-26b430abba26/resourcegroups/Beervolution/providers/Microsoft.Web/sites/Beervolution</ResourceId>
    <ResourceGroup>Beervolution</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://beervolution.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>beervolution.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Beervolution</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Beervolution</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="BeerContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:beervolutiondbserver.database.windows.net,1433;Initial Catalog=Beervolution;User ID=voldo42@beervolutiondbserver;Password=Xzu7as8n1" Name="Data Source=tcp:beervolutiondbserver.database.windows.net,1433;Initial Catalog=Beervolution;User Id=voldo42@beervolutiondbserver;Password=Xzu7as8n1" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\Beer.mdf;Initial Catalog=Beer;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\BeerContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\Beer.mdf;Initial Catalog=Beer;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="BeerContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:beervolutiondbserver.database.windows.net,1433;Initial Catalog=Beervolution;User Id=voldo42@beervolutiondbserver;Password=Xzu7as8n1</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="BeerContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:beervolutiondbserver.database.windows.net,1433;Initial Catalog=Beervolution;User Id=voldo42@beervolutiondbserver;Password=Xzu7as8n1</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>